
<section class="resume-section project-section">
    <h3 class="resume-section-heading">{{ i18n "information" }}</h3>
    {{ range .Site.Params.information.list }}
    <div class="resume-item">
        <div class="resume-item-heading">
            <h4 class="resume-item-title">{{ .title }}</h4>
        </div>
        <div class="resume-item-content">
            <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
            <ul class="resume-list">
                {{ range .items }}
                <li>{{ with .details }}{{ . | markdownify }}{{ end }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
</section>
